@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFF;
}

@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu i::before {
    content: "\e904";
    font-family: 'icones';
    font-size: 1.8rem;
}
.cabecalho__nofificacao i::before {
    content: "\e906";
    font-family: 'icones';
    font-size: 1.8rem;
}
.cabecalho__logo {
    width: 40px;
}

.cabecalho__perdil {
    display: none;
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        background-color: #1D232A;
        display: grid;
        column-gap: 32px;
        grid-template-columns: 1fr, auto;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
    }

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__logo {
        display: none;
    }

    .cabecalho__profile {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color:#959990;
        padding: 8px 32px;
        border-right: 1px solid #959990;
    }

    .cabecalho__profile::before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../img/profile_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cabecalho__profile::after {
        content: "\e90d";
        color: #FFF;
        font-size: 1.5rem;
    }
}

/* Menu de Navegação vertical - menu lateral */

.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw;
    height: 100vh;

    left: -100vw;
    position: absolute;
    transition: .25s;
    z-index: 99;
}

.menu-lateral--active {
    left: 0;
    transition: left .25s;
}

.menu-lateral__logo {
    align-self: center;
    width: 120px;
    padding: 1.7rem;
}

.menu-lateral__link {
    height: 65px;
    color: #959990;
    padding-left: 65px;
    display: flex;
    align-items: center;
}

.menu-lateral__link::before {
    content: "";
    width: 25px;
    height: 25px;
    font-size: 1.7rem;
    position: absolute;
    left: 25px;
}

.menu-lateral__link--active {
    color:#FFF;
    padding-left: 65px;
    border-left: 8px solid #FFF;
}

.menu-lateral__link--inicio::before {
    content: "\e902";
}
.menu-lateral__link--videos::before {
    content: "\e90e";
}
.menu-lateral__link--picos::before {
    content: "\e908";
}
.menu-lateral__link--integrantes::before {
    content: "\e903";
}
.menu-lateral__link--camisas::before {
    content: "\e900";
}
.menu-lateral__link--pinturas::before {
    content: "\e90a";
}

/* Main */

.principal {
    padding: 24px 16px;

    display: grid;
    gap: 16px;
}

.titulo-pagina {
    font-size: 1.5rem;
    font-weight: 700;
}

.title-section {
    font-size: 1.2rem;
    font-weight: 700;
}

/* Card */

.card {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2C343A;
}

.card--destaque {
    margin-bottom: 16px;
}

.card__conteudo {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.card__destaque {
    grid-column: span 2;
}

.card__title {
    font-size: 1.2rem;
    font-weight: 700;
    
    grid-column: span 2;
}

.card__profile {
    color:#959990;
    font-size: .9rem;

    grid-column: span 2;
}

.card__info {
    display: flex;
    align-items: center;
    color:#959990;
}

.card__info--time::before  {
    content: "\e90c";
    margin-right: 8px;
}
.card__info--views::before  {
    content: "\e90f";
    margin-right: 8px;
}

.card__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: .9rem;
    justify-self: flex-end;
}

.card__btn--play::before {
    content: "\e90b";
    font-size: 24px;
}

.card__btn--destaque {
    width: 100%;

    grid-column: span 2;
}

.card__btn--destaque::before {
    margin-right: 8px;
}

/* Section */

.section {
    display: grid;
    gap: 16px;
}